body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/bg-images/player-info-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .15rem;
    font-size: 5rem;
    position: relative;
    bottom: .1rem;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    width: 80%;
    position: relative;
    top: 2rem;
    background: radial-gradient(circle, rgba(50,50,119,.4) 20%, rgba(214,242,255,.3) 100%);
    border-radius: 40px;
    box-shadow: 8px 8px 16px #3a3a3a;
}


#player-image {
    width: 600px;
    height: auto;
}

.info-box {
    min-width: 28rem;
    max-width: 34rem;
    font-family: Signika, sans-serif;
    position: relative;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.list-container {
    display: flex;     
    justify-content: space-between;
    width: 100%;
    max-height: 24rem;
}

.properties, .values {
    list-style-type: none; 
    padding: 0;
    font-size: 2.5rem;
    line-height: 200%;
}

.properties {
    text-align: right;
    font-weight: 500;
    text-align: left;
    line-height: 225%;
}

.values {
    text-align: center;
    font-weight: 500;
}

ul img {
    height: 5rem;
    border-radius: 5px;
}

.info-box h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}


.strengths {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.strengths li {
    font-size: 1.65rem;
    padding: 1rem 3rem 1rem 3rem;  
    position: relative;
    right: 1.2rem;
    width: 25%;
    text-align: center;
}

a:link, a:visited {
    text-decoration: none;
}

.home-button {
    color: hsl(219, 100%, 34%);
    transition: color 375ms ease-out 0ms;
    font-family: Signika, sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    position: absolute;
    bottom: 4rem;
    right: 6rem;

}

.home-button:hover {
    color: blue;
    transition: color 375ms ease-out 0ms;
} 

#pocket-extension-stlyes {
    color: blue;
}

#pocket-extension-root {
    color: blue;
}

.pocket-egasyq {
    color: green;
}
